PORT="8080"
NODE_ENV=dev
SENTRYDSN=
CHAIN_URI=""
BC_REST=""
IGNORE_EVENTS="message,rewards,proposer_reward,commission,mint,transfer"
# ONLY_EVENTS=""
BONDS_INFO_EXTRACT_PERIOD_BLOCKS=1
DATABASE_URL=""
# MONGODB_URI_LOCAL=""
# MONGODB_URI=""